<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="section environment">
    <table>
        <caption>System</caption>
        <tbody>
            <tr>
                <td>TYPO3 Version</td>
                <td class="green {f:if(condition: '{apiData.HasUpdate.value}', then: 'warning')} {f:if(condition: '{apiData.HasSecurityUpdate.value}', then: 'error')}">{apiData.GetTYPO3Version.value}</td>
            </tr>
            <tr>
                <td>PHP Version</td>
                <td class="green {f:if(condition: '{apiData.HasOutDatedPhpVersion.value}', then: 'error')}">{apiData.GetPHPVersion.value}</td>
            </tr>
            <tr>
                <td>Disc Space</td>
                <td>Total: {apiData.GetDiskSpace.value.total} || Free: {apiData.GetDiskSpace.value.free}</td>
            </tr>
            <tr>
                <td>Extensions has updates available</td>
                <td class="green {f:if(condition: '{apiData.HasExtensionUpdateList.value -> f:count()} > 0', then: 'warning')}">
                    <f:if condition="{apiData.HasExtensionUpdateList.value -> f:count()} > 0">
                        <f:for each="{apiData.HasExtensionUpdateList.value}" as="ext" iteration="i">
                            <span data-hover="{ext.version}">{ext.extensionKey}</span>{f:if(condition: '{i.isLast}', else: ',')}
                        </f:for>
                    </f:if>
                </td>
            </tr>
            <tr>
                <td>Last scheduler run</td>
                <td class="green {f:if(condition: '{apiData.GetLastSchedulerRun.value} <= 0', then: 'warning')}">
                     <f:format.date format="%d. %B %Y">{apiData.GetLastSchedulerRun.value}</f:format.date> - <f:format.date format="H:i:s">{apiData.GetLastSchedulerRun.value}</f:format.date>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>
